<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Zip" version="21.4.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net48" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net48" />
  <package id="MaterialSkin.2" version="2.2.1" targetFramework="net48" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net48" />
  <package id="SequentialGuid" version="2.5.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.114.0" targetFramework="net48" />
  <package id="System.Data.SqlClient" version="4.8.2" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.114.2" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.114.1" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.114.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.114.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net48" />
</packages>